/*=============================/
  //> Author   : Ahmad sopyan
  //> Email    : ahmadsofian63@gmil.com
  //> Telpon   : 089635550381 - 083872700529
  //> Github   : https://github.com/ahmadsopyan9
  //> Facebook : https://www.facebook.com/ahmadsopyan99
  //> Website  : https://isfidev.site - https://blog.isfidev.site - https://store.isfidev.site
/=============================*/

body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: arial, tahoma;
}

.header{
  position: relative;
  top: 0;
  background-color: #555;
  color:red;
  font-size: 18px;
  padding: 10px;
}

.container{
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  widows: 99%;
  background-color: #fff;
  overflow: hidden;
}

.box{
  float: none;
  width: 97.5%;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
       	  
}

.box-body{
  border:1px solid rgba(0,0,0,0.2);
}

.box h4{
  position: relative;
  background: #335;
  color:#ff6;
  top: 0;
  margin:0px;
  line-height: 2em;
}
       
.content{
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-left:10px;
  padding: 5px;
}

.title_example{
  color: #333;
  padding: 7px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 12px;
}
       
.clear{
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my_info{
   position: relative;
   left: 0;
   right: 0;
   bottom: -50px;
   padding:10px;
   background-color: #334;
}

.my_info a{
   padding: 10px;
   border-radius: 50%;
} 

.fb{
   background-color: #059;
   color: #fff;
}

.wa{
   background-color: #9f3;
   color: #fff;
}

.mail{
   background-color: #fafafa;
   color: #ff2500;
}

.git{
   background-color: #000;
   color: #fff;
}

.centered{
  width: 300px;
  vertical-align: middle;
  text-align: center;
  display: table;
  margin:10px auto;
}
       
a{
  text-decoration: none;
  font-weight: bold;
  font-family: courier;
  padding: 4px 10px !important;
  display: inline;
}

.btn, a.btn{
  background-color: #334;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  color: #fafafa;
  padding: 5px 10px;
  border:1px solid transparent;
}

.bg-red{
  background-color: #ff3000 !important;
}

.btn:hover,  a.btn:hover{
  filter: brightness(0.85);
  trasition: .5s;
  color: #ff5;
  cursor: pointer;
}

.box-ujicoba{
  display: none;
  width: 320px;
  background-color: #059ddd;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.box-form{
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
}

.title_ujicoba{
  color: #ff7;
}

form label{
  color:#fafafa;
  display: block;
  text-align: left;
  padding-bottom: 4px;
}

form input{
  padding: 10px;
  border:1px solid transparent;
  width: 270px;
  font-weight: bold;
}

.large{
  padding: 10px !important;
}

.result p{
  font-size: 17px;
  color: #fafafa;
}

@media (min-width: 1024px){
  .box{
     float: left;
     width: 30.5%;
     min-height: 1px;
     margin-left: 15px;
     margin-right: 15px;
     padding-bottom: 20px;
  }
  
  form label{
    text-align: center;
    color:#fafafa;
    display: inline-block;
  }

  .box-ujicoba{
       width: 500px;
       background-color: #059ddd;
       padding-top: 20px;
       padding-bottom: 40px;
  }

  .box-form{
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .my_info{
   position: absolute;
   left: 0;
   right: 0;
   bottom: -5px;
   padding:10px;
   background-color: #334;
 }
  .my_info a{
   padding: 10px;
   border-radius: 50%;
  } 
}
